pandas
numpy
nltk
spacy
matplotlib
seaborn
beautifulsoup4
wordcloud
pyspellchecker
googletrans==4.0.0-rc1
mtranslate
scikit-learn
opencv-python-headless
joblib
tensorflow
plotly
langdetect
tensorflow==2.6.0
protobuf==3.20.0
keras==2.6.0