pandas

nltk
spacy
matplotlib
seaborn
beautifulsoup4
wordcloud
pyspellchecker
googletrans==4.0.0-rc1
mtranslate
scikit-learn
opencv-python-headless
joblib
tensorflow
plotly
langdetect
keras
tensorflow
numpy
six==1.15.0
typing-extensions
protobuf
idna==2.*