pandas
numpy
nltk
spacy
matplotlib
seaborn
beautifulsoup4
wordcloud
pyspellchecker
googletrans==4.0.0-rc1
mtranslate
scikit-learn
opencv-python-headless
keras
joblib
tensorflow
plotly
langdetect
tensorboard=2.15 
protobuf=3.19.6